<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
	<title> ABOUT ME </title>
	<h1 class="center"> ABOUT ME </h1>

</head>

<body class="bg">
	<h5 class="center"> I have 2 sisters<br> I love nature <br> I hate kooskoos <br> I lived in South Korea and Belgium <br> so I love Korean and Belgian FOOOD <br>I have been playing the violin since 2nd grade and I LOVE music <br> I live in Mesilat Zion and Study at The Acadamy of Music and Dance <br> MEET is fun <br> Yay 
	</h5>
	<a class="right" href="/home"> -Home-
	<a class="linkc" href="/aboutme"> -About Me-
	<a class="left" href="/contactme"> -Contact Me-
</body>


</html>
