<html>

<head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
	<h1 class="center"> Contact Me </h1>
	<title> CONTACT ME </title>
</head>

<body class="bg">
	<h3 class= "center"> you will find me staring at you while you sleep but you can say me something bellow</h3>
	<a class="right" href="/home"> -Home- </a>
	<a class="linkc" href="/aboutme"> -About Me- </a>
	<a class="left" href="/contactme"> -Contact Me- </a>

<form>
	Email <input type="email"> <br>
	Name <input type="text"> <br>
	What do you want to contact me for?! <input type="text"> <br>

	<input type="submit" value="Sumbit">
</form>

</body>


</html>
