.center {
	color:#003300;
	text-align: center;
	font-style: italic; 
	
}

p.oblique {
    font-style: oblique;
} 

.left{
    position: fixed;
    bottom: 300;
    left: 300;
    width: 200px;
    border: 2px solid #8BC007;
    color: #003300;
    font-style: italic;	
}

.linkc{
    position: fixed;
    bottom: 300;
    left: 600;
    width: 200px;
    border: 2px solid #8BC007;
    color: #003300;
    font-style: italic;	
}


.right {
    position: fixed;
    bottom: 300;
    right: 300;
    width: 200px;
    border: 2px solid #8BC007;
    color: #003300;
    font-style: italic;
}

.bg {
background-image: url(woodbg.jpg);
background-size: 2000px 1000px;
}



